<h1>Coffeeeeeeeee</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.name%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coffee', new_drink_path%>
